<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="courses">
  <!-- using old ngFor directive -->
  <!-- <course-card *ngFor="let course of courses; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd" [course]="course" [index]="i + 1"  [count]="count" [class.is-last]="isLast"
    [class.is-first]="isFirst" [class.is-even]="isEven" [class.is-odd] = "isOdd"/> -->

  <!-- similary we have last, even, odd, returns boolean values in ngFor -->

  <!-- using new syntax after angular 16 -->
  @for (course of courses; track course.id;){
  <!-- similary we have $last, $first, $odd, $even properties  -->
  <!-- <course-card
    [course]="course"
    [index]="index"
    [count]="count"
    [index]="$index + 1"
    [class.is-last]="$last"
    [class.is-first]="$first"
    [class.is-even]="$even"
    [class.is-odd]="$odd"
  /> -->

  <course-card
    [course]="course"
    [index]="index"
    [count]="count"
    [index]="$index + 1"
    
  />
  } @empty(){
  <p>no data found!</p>
  }
</div>
